<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @ouizzuser.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @ouizzuser.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ouizzuser.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @ouizzuser.phone %>
</p>

<%= link_to 'Edit', edit_ouizzuser_path(@ouizzuser) %> |
<%= link_to 'Back', ouizzusers_path %>
